.NavBar {
    background: transparent;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 10px;
}

.NavBar .brand {
    color: #FCD34D;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.NavBar .brand:hover {
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(10px) scale(1.1);
    font-weight: bold;
}

.NavBar .navbar-nav .nav-link {
    position: relative;
    color: white;
    margin: 0 10px;
    font-size: 18px;
    display: inline-block;
    transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.NavBar .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #FCD34D;
    transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.1s;
}

.NavBar .navbar-nav .nav-link:hover {
    color: #FCD34D;
    transform: translateX(10px) scale(1.1);
    font-weight: bold;
}

.NavBar .navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}





/* ====================================HOME==================================== */
.homeBg {
    background-image: linear-gradient(to right, rgb(56, 21, 51), rgb(51, 18, 41), purple);
}

.homeHeading {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #FCD34D;
}



.homePara {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: 100;
    line-height: 1.7;
}

.homeBtn {
    display: flex;
    gap: 1rem;
}

.homeMain {
    margin-top: 150px;
}

.btn-custom {
    padding: 10px 20px;
    font-size: 16px;
    border: 4px solid #FCD34D;
    background-color: #FCD34D;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

.btn-custom::before {
    content: "Hire Me";
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 10px;
    width: 300%;
    height: 300%;
    background-color: #3C003C;
    transition: all 0.5s ease;
    z-index: 0;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
}

.btn-custom:hover::before {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.btn-custom:hover {
    color: rgb(255, 255, 255);
}

.btn-custom span {
    position: relative;
    z-index: 1;
}

.btn-custom1 {
    padding: 10px 20px;
    font-size: 16px;
    border: 4px solid #FCD34D;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

.btn-custom1::before {
    content: "CV Download";
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 10px;
    width: 300%;
    height: 300%;
    background-color: #FCD34D;
    transition: all 0.5s ease;
    z-index: 0;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
}

.btn-custom1:hover::before {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.btn-custom1:hover {
    color: rgb(0, 0, 0);
}

.btn-custom1 span {
    position: relative;
    z-index: 1;
}

.homeIcon {
    background-color: #FCD34D;
    padding: 5px;
    color: purple;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.homeIcon:hover {
    background-color: purple;
    color: #FCD34D;
}

/* ========================= ABOUT ===================================== */

.AboutMain {
    background-image: linear-gradient(to bottom right, rgb(56, 21, 51), rgb(51, 18, 41), purple);
}

.aboutMy {
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 20px 20px 60px;
    margin-left: -109px;
    margin-bottom: 50px;
}


/* Base styles for .aboutHeading */
.aboutHeading {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #FCD34D;
    margin-left: -70px;
    margin-bottom: 30px;
    position: relative;
}

.aboutPara {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: 100;
    line-height: 1.7;
}





.aboutHeading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 5%;
    height: 2px;
    background-color: #FCD34D;
    border-radius: 4px;
}

/* ========================= Education ===================================== */

.EducationMain {
    background-image: linear-gradient(to top left, rgb(56, 21, 51), rgb(51, 18, 41), purple);
    padding-bottom: 50px;
}

.educationHeadingMain {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #FCD34D;
    margin-left: -70px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}

.educationHeadingMain::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 35%;
    height: 2px;
    background-color: #FCD34D;
    border-radius: 4px;
}

/* Base styles for the aboutHeading */
.educationHeadingYear {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20PX;
    background-color: #837777;
    width: 30%;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.educationHeadingYear2 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20PX;
    background-color: #837777;
    width: 50%;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.educationHeadingName {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 30PX;
    margin-top: 20px;
    color: white;
}

.educationHeadingName1 {
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30PX;
    color: white;
    /* margin-top: 20px; */
}

.educationPara {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30PX;
    color: white;
    margin-top: 20px;
}

/* Timeline container */
.timeline {
    position: relative;
    padding-left: 40px;
    margin-top: 20px;
}

/* Vertical line */
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: #837777;
}

/* Timeline items */
.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

/* Dots */
.timeline-dot {
    position: absolute;
    top: 12%;
    left: -29px;
    width: 20px;
    height: 20px;
    background-color: #837777;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* .timeline-item:hover {
    border: 1px solid #837777;
    background-color: rgb(54, 0, 54);
    box-shadow: 0 8px 16px rgb(65, 1, 65);
    transform: translateY(-5px);
    border-radius: 10px;
} */

.timeline-item:hover .timeline-dot {
    background-color: #FCD34D;
}

.timeline-item:hover .educationHeadingYear2 {
    background-color: #FCD34D;
}

.timeline-item:hover .educationHeadingYear {
    background-color: #FCD34D;
}

.timeline-item:hover .educationHeadingName1 {
    color: #FCD34D;
}

/* ============================= SKILLS =============================== */
.skillMain {
    background-image: linear-gradient(to bottom left, rgb(56, 21, 51), rgb(51, 18, 41), purple);
    padding-bottom: 50px;
    position: relative;
    /* Ensure relative positioning for ::before pseudo-element */
}

.skillHeading,
.skillPara {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    padding: 0 10px;
    /* Add padding to prevent text overflow */
    box-sizing: border-box;
    /* Ensure padding is included in the width calculation */
}

.skillHeading {
    font-size: 30px;
    top: 10%;
    color: #FCD34D;
}

.skillPara {
    font-size: 20px;
    top: 29%;
    color: rgb(255, 255, 255);
    margin: 0;
}

.project {
    position: relative;
    /* Ensure relative positioning for pseudo-element */
}

.project::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    /* Yellow shade */
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover::before {
    opacity: 1;
}

.project:hover .skillHeading,
.project:hover .skillPara {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.project:hover .skillHeading {
    animation: slideInFromBottom 0.5s forwards;
}

.project:hover .skillPara {
    animation: slideInFromBottom 0.7s forwards;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0);
    }
}









/* Timeline container */
.skilltimeline {
    position: relative;
    padding-left: 40px;
    margin-top: 20px;
}

/* Vertical line */
.skilltimeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: #837777;
}

/* Timeline items */
.skilltimeline-item {
    position: relative;
    margin-bottom: 20px;
}

/* Dots */
.skilltimeline-dot {
    position: absolute;
    top: 3%;
    left: -29px;
    width: 20px;
    height: 20px;
    background-color: #837777;
    border-radius: 50%;
    transform: translateY(-50%);
}


.skilltimeline-item:hover .skilltimeline-dot {
    background-color: #FCD34D;
}

.skilltimeline-item:hover .educationHeadingYear2 {
    background-color: #FCD34D;
}

.skilltimeline-item:hover .educationHeadingYear {
    background-color: #FCD34D;
}

.skilltimeline-item:hover .skillmainheading {
    background-color: #FCD34D;
}

.skillmainheading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px !important;
    width: 30%;
    background-color: #837777;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
}

/* ============================= PROJECT =============================== */
/* Project container styles */
.projectMain {
    background-image: linear-gradient(to top left, rgb(56, 21, 51), rgb(51, 18, 41), purple);
    padding-bottom: 50px;
}

.project {
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 30px;
    /* Adjust spacing between projects */
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.project:hover img {
    transform: scale(1.1);
}

.projectHeading,
.projectPara,
.projectBtn {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    padding: 0 10px;
    /* Add padding to prevent text overflow */
    box-sizing: border-box;
    /* Ensure padding is included in the width calculation */
}

.projectHeading {
    font-size: 30px;
    top: 10%;
    color: #FCD34D;
}

.projectPara {
    font-size: 20px;
    top: 25%;
    color: rgb(253, 253, 253);
    margin: 0;
}

.projectBtn::before {
    content: "Visit website";
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 10px;
    width: 300%;
    height: 300%;
    background-color: #FCD34D;
    transition: all 0.5s ease;
    z-index: 0;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
}

.projectBtn:hover::before {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.projectBtn {
    font-size: 18px;
    top: 80%;
    width: 90%;
    color: #FCD34D;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.projectBtn:hover {
    background-color: #FCD34D;
    color: #000;
}

.project:hover .projectHeading,
.project:hover .projectPara,
.project:hover .projectBtn {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.project:hover .projectHeading {
    animation: slideInFromBottom 0.5s forwards;
}

.project:hover .projectPara {
    animation: slideInFromBottom 0.7s forwards;
}

.project:hover .projectBtn {
    animation: slideInFromBottom 0.9s forwards;
}

.btn-custom2 {
    padding: 10px 20px;
    font-size: 16px;
    border: 4px solid #FCD34D;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

.btn-custom2::before {
    content: "Click Here";
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 10px;
    width: 300%;
    height: 300%;
    background-color: #FCD34D;
    transition: all 0.5s ease;
    z-index: 0;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
}

.btn-custom2:hover::before {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.btn-custom2:hover {
    color: rgb(0, 0, 0);
}

.btn-custom2 span {
    position: relative;
    z-index: 1;
}

@keyframes slideInFromBottom {
    from {
        transform: translateX(-50%) translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

/* Responsive Layout */

@media (max-width: 992px) {
    .project {
        margin-bottom: 20px;
        /* Adjust spacing between projects */
    }
}

@media (max-width: 768px) {
    .project {
        margin-bottom: 15px;
        /* Adjust spacing between projects */
    }
}

@media (max-width: 576px) {
    .project {
        margin-bottom: 10px;
        /* Adjust spacing between projects */
    }
}


/* ==================== CONTACT  ======================== */
.contactMain {
    background-image: linear-gradient(to bottom left, rgb(56, 21, 51), rgb(51, 18, 41), purple);
    padding-bottom: 50px;
}

.contactHeadingName {
    /* font-size: 35px; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* margin-left: 30PX; */
    margin-top: 20px;
    color: white;
}

.contactPara {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    /* margin-left: 30PX; */
    color: white;
    margin-top: 20px;
}

.contactIcon {
    color: #FCD34D;
    font-size: 40px;
}

/* In a global CSS file or a CSS module */
.icone .row {
    margin-bottom: 20px;
  }
  
  .icone .contactIcon {
    transition: color 0.3s ease;
  }
  
  .icone .iconhead {
    transition: color 0.3s ease;
  }
  
  .icone:hover .contactIcon,
  .icone:hover .iconhead {
    color: #ffffff;
  }
  
  .icone .row:hover .contactIcon {
    color: #ffffff;
  }
  
  .icone .row:hover .iconhead {
    color: #FCD34D;
  }
  


.custom-textarea {
    width: 100%;
    height: 150px;
    /* Adjust height as needed */
}

.styled-label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #ffffff;
    /* font-weight: bold; */
    margin-left: 5px;
    /* Add some spacing below */
    margin-top: 8px;
    /* Add some spacing below */
    display: block;
    /* Ensures label is displayed as a block element */
}

.iconpara {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.iconhead {
    color: white;
    margin-bottom: -3px;
}

/* ==================== FOOTER ======================== */
.footerMain {
    background-image: linear-gradient(to bottom right, rgb(56, 21, 51), rgb(51, 18, 41));
}








/* ==================== MEDIA QUREY ======================== */

@media screen and (min-width: 100px) and (max-width: 500px) {
    .aboutMy {
        margin-bottom: 20px;
        margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }

    .aboutHeading {
        margin-left: 0px;
        margin-top: 20px;
        font-size: 30px;
    }

    .aboutPara {
        font-size: 15px;
    }
}

/* Media query for screens between 10px and 1199px */
@media screen and (min-width: 500px) and (max-width: 1199px) {
    .aboutMy {
        margin-bottom: 20px;
        margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }

    .aboutHeading {
        margin-left: 0px;
    }

    .aboutPara {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .educationHeadingYear2 {
        width: 60%;
    }

    .educationHeadingYear {
        width: 50%;
    }
}

@media screen and (min-width: 544px) and (max-width: 992px) {
    .skillHeading {
        width: 60%;
    }

}

@media screen and (min-width: 292px) and (max-width: 543px) {
    .educationHeadingYear2 {
        width: 90%;
    }

    .educationHeadingYear {
        width: 50%;
    }

    .skillHeading {
        width: 80%;
    }

    .skillmainheading {
        width: 100%;
    }

    .skilltimeline-dot {
        top: 0.5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .skillmainheading {
        width: 50%;
    }

    .skilltimeline-dot {
        top: 2%;
    }
}

@media screen and (min-width: 544px) and (max-width: 767px) {
    .educationHeadingYear2 {
        width: 60%;
    }

    .skillmainheading {
        width: 70%;
    }

    .skilltimeline-dot {
        top: 1%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .aboutMy {
        margin-bottom: 20px;
        margin-left: -88px;
    }

}

@media (max-width: 350) {
    .homeHeading {
        font-size: 10px;
    }
}

@media (max-width: 991px) {
    .NavBar .navbar-nav .nav-link {
        color: rgb(14, 13, 13);
    }

    .homeMain {
        margin-top: 0px;
    }


}